/*sass --watch main.scss main.css*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Lato, sans-serif;
  /*deals with all containers on the page*/
}

* .transition-fade {
  opacity: 1;
  -webkit-transition: 500ms;
  transition: 500ms;
}

* .transition-fade html.is-animating {
  opacity: 0;
}

* .container {
  /*brings into center*/
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}

@media (max-width: 1024px) {
  * .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (max-width: 1024px) and (max-width: 767px) {
  * .container {
    padding-left: 32 px;
  }
}

* section h2 {
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-size: 36px;
  color: #212121;
}

* .button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  /*can set height + width
    top/bottom margins are respected*/
  color: white;
  font-size: 20px;
  background-color: black;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 767px) {
  * .button {
    font-size: 12px;
  }
}

* img {
  max-width: 100%;
}

* header {
  position: fixed;
  /*sets header to fixed, means it stays there*/
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  /*header nav bar*/
}

* header .container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* header .container h2 {
  color: inherit;
  text-transform: lowercase;
  font-size: 32px;
  font-weight: bolder;
  -webkit-text-stroke: 0.02em black;
}

* header .container h2 span {
  font-weight: normal;
}

* header .container nav {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
}

@media (max-width) {
  * header .container nav {
    display: none;
  }
}

* header .container nav a {
  color: inherit;
  font-size: 30px;
  text-decoration: none;
  font-weight: lighter;
}

* header.is-scrolling {
  background-image: linear-gradient(289deg, #00aade, #00aade9a);
}

* header.is-scrolling .container {
  padding-top: 16px;
  padding-bottom: 16px;
}

* main section.banner {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../assets/waterBottle.jpeg");
  background-position: top right;
  background-size: cover;
  /*psuedo tag used after element*/
}

* main section.banner:after {
  content: "";
  display: block;
  /*takes up whole row*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  /*puts it behind everything else*/
  /*linear-gradient(#00A9DE, #00aade1f);*/
  opacity: 0.8;
  background-color: #00a9de;
}

* main section.banner .container {
  position: relative;
  z-index: 1;
  text-align: right;
}

* main section.banner .container h1 {
  font-size: 72px;
  margin-bottom: 32px;
}

* main section.banner .container h1 span {
  color: white;
}

@media (max-width: 767px) {
  * main section.banner .container h1 {
    font-size: 38px;
  }
}

* main section.banner .container h3 {
  font-size: 36px;
  font-weight: lighter;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  * main section.banner .container h3 {
    font-size: 17px;
  }
}

* main .services {
  background-color: #eee;
}

* main .services .container {
  padding-top: 64px;
  padding-bottom: 64px;
}

* main .services .container .services-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

@media (max-width: 1024px) {
  * main .services .container .services-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  * main .services .container .services-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

* main .services .container .services-grid .service {
  margin: 24px;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 40px 13px 22px -4px rgba(0, 0, 0, 0.27);
          box-shadow: 40px 13px 22px -4px rgba(0, 0, 0, 0.27);
}

* main .services .container .services-grid .service figure {
  text-align: center;
}

* main .services .container .services-grid .service .img-box {
  display: block;
  width: 100%;
  background-image: linear-gradient(289deg, #00aade, #00aade9a);
}

* main .services .container .services-grid .service .img-box .img {
  display: block;
  width: 100%;
  height: 256px;
  -o-object-fit: cover;
     object-fit: cover;
}

* main .services .container .services-grid .service .content {
  padding: 16 px;
}

* main .projects {
  padding-top: 64px;
  padding-bottom: 64px;
}

* main .projects .projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  * main .projects .projects-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  * main .projects .projects-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

* main .projects .projects-grid .project {
  background-image: url("../assets/projects/blackgirl.jpeg");
  border-radius: 16px;
  overflow: hidden;
}

* main .projects .projects-grid .project:nth-child(2) {
  background-image: url("/assets/projects/blackguy.jpeg");
}

* main .projects .projects-grid .project:nth-child(3) {
  background-image: url("/assets/projects/blackwoman.jpeg");
}

* main .projects .projects-grid .project:nth-child(4) {
  background-image: url("/assets/projects/kids.jpeg");
}

* main .projects .projects-grid .project:nth-child(5) {
  background-image: url("/assets/projects/bubbles.jpeg");
}

* main .projects .projects-grid .project:nth-child(6) {
  background-image: url("/assets/projects/sporty.jpeg");
}

* main .projects .projects-grid .project .content {
  opacity: 0;
  color: azure;
  padding: 16px;
  background-color: #00aade9a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
}

* main .projects .projects-grid .project .content h3 {
  font-size: 32px;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  * main .projects .projects-grid .project .content h3 {
    font-size: 28px;
  }
}

* main .projects .projects-grid .project .content p {
  font-size: 18px;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  * main .projects .projects-grid .project .content p {
    font-size: 16px;
  }
}

* main .projects .projects-grid .project:hover .content {
  opacity: 1;
}

* main .center {
  text-align: center;
}

* main .contact {
  background-color: #00aff0;
}

* main .contact .container {
  padding-top: 64px;
  padding-bottom: 64px;
}

* main .contact .container h2 {
  color: white;
}

* main .contact .container form {
  display: block;
  margin: 0 auto;
  max-width: 680px;
}

* main .contact .container form .form-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  * main .contact .container form .form-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

* main .contact .container form .form-grid .form-element,
* main .contact .container form .form-grid .form-area {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  display: block;
  width: 100%;
  background-color: white;
  border-radius: 16px;
  color: black;
  padding: 10px;
  font-size: 20px;
}

* main .contact .container form .form-grid .form-element::-webkit-input-placeholder,
* main .contact .container form .form-grid .form-area::-webkit-input-placeholder {
  color: #aaa;
}

* main .contact .container form .form-grid .form-element:-ms-input-placeholder,
* main .contact .container form .form-grid .form-area:-ms-input-placeholder {
  color: #aaa;
}

* main .contact .container form .form-grid .form-element::-ms-input-placeholder,
* main .contact .container form .form-grid .form-area::-ms-input-placeholder {
  color: #aaa;
}

* main .contact .container form .form-grid .form-element::placeholder,
* main .contact .container form .form-grid .form-area::placeholder {
  color: #aaa;
}

* main .contact .container form .form-grid .form-area {
  grid-column: 1/-1;
}

* main .contact .container form .right-align {
  text-align: right;
}

@media (max-width: 767px) {
  .hide-mob {
    display: none;
  }
}
